<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gabinet Psychoterapii Ewa Górska</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />


    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js"></script>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>

<body>
<div class="container">

    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#"><i class="fa-regular fa-compass"></i> Strona Główna</a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa-solid fa-clipboard-user"></i> O mnie</a>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa-solid fa-hand-holding-heart"></i> Oferta</a>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa-regular fa-calendar-days"></i> Terminy</a>
        </li>
        <li class="menu-item">
            <a href="#"><i class="fa-regular fa-envelope"></i> Kontakt</a>
        </li>
        <li class="menu-login-container">
            <a href="#">
                <i class="fa-regular fa-compass"></i> Zaloguj sie
            </a>
        </li>
    </ul>



    <header class="office">
        <h1 class="office-header">GABINET PSYCHOTERAPEUTYCZNY</h1>
        <h2>Ewa Górska</h2>
        <p>
        Zadzwoń, z chęcią odpowiem na każde Twoje pytanie.</p>
        <p class="office-description">Można coś tu jeszcze napisać czym się gabinet wyróżnia czy coś</p>

        <p>Kraśnik, przychodnia FŁT,</p>
        <p>ul. Fabryczna 6, I piętro, gabinet nr 205.</p>

    </header>

    <main class="main-content">
        <h2 class="list-heading">Aktualności na stronie</h2>
        <p class="list-description">W aktualnościach Ewacia bedzie sobie wstawiała jakieś pierdy, których nie rozmumiem.
        Ma to być varchar pobierany z bazy danych. Ma mieć miejsce na datę kiedy se to dodała.
        Może dobrze byłoby cyknąć/pobrać jakieś zdjęcie czy coś zgodne z tematem.
        Niech zdjęcia też bedzie pobierane z bazy dancych a jak. Zobaczymy czy się da zrobić.
        Szczegóły pożniej teraz dodam fotke do zasobów statycznych niech se bedzie.</p>
        <ul class="news-list">
            <li class="news-list-item">
                <a href="#">
                    <img src="../static/images/las_droga.jpg"
                         alt="tytuł posta /newsa"
                         class="news-list-item-poster">
                </a>
                <div class="news-list-item-card">
                    <div class="news-list-item-content">
                        <h3 class="news-list-item-title">
                            <a href="#">Tytuł newsa</a>
                        </h3>
                        <p class="data">1999</p>
                    </div>
                    <div class="news-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="news-list-item">
                <a href="#">
                    <img src="../static/images/las_droga.jpg"
                         alt="tytuł posta /newsa"
                         class="news-list-item-poster">
                </a>
                <div class="news-list-item-card">
                    <div class="news-list-item-content">
                        <h3 class="news-list-item-title">
                            <a href="#">Tytuł newsa</a>
                        </h3>
                        <p class="data">1999</p>
                    </div>
                    <div class="news-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer class="footer">
        <p><i class="fa-regular fa-heart"></i> Psychoterapia: Ewa Górska (+48) 781 106 026 </p>
        <p> <i class="fa-solid fa-file-code"></i>  Api wykonał: tomasz.gorski88@gamil.com</p>
    </footer>

</div>

</body>

</html>