<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>
<head>
    <meta charset="UTF-8">
    <title>Oferta - Psychoterapia Ewa Górska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>

    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&display=swap" rel="stylesheet">
    <!-- Dynamicznie budowany adres do skryptu JS i arkusza stylów -->
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="therapy">
            <h2 class="list-heading" th:text="${therapyHeading}">Rodzaje terapii/zakres usług</h2>

            <!-- Podsumowanie -->
            <div class="therapy-summary">
                <!-- ikonka/obrazek -->

                <!-- informacje o terapii -->
                <div class="therapy-summary-info">

                    <ul class="therapy-therms-list" th:remove="all-but-first">
                        <!-- ustawiamy podsatwowe informacje o terapii -->
                        <li th:each="therapy: ${therapies}">
                            <fieldset>

                                <!-- ustawiamy podsatwowe informacje o terapii -->
                                <h3 class="meeting-summary" th:text="${therapy.kindOfTherapy}">Rodzaj terapii</h3>
                                <p class="meeting-summary-day" th:text="|${therapy.description}|">opis</p>
                                <p class="meeting-summary-day" th:text="|cena: ${therapy.price} zł|">cena</p>

                            </fieldset>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>